/* Colors the background of the body to be purple*/
body {
    background-color: #c4c1e0;
    font-family: sans-serif;
}

/* Change text color, font, and center align the h1*/
h1 {
    color:#7c73e6;
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}

.pt {
    width: 100pt;
    color: hsl(204, 100%, 50%);
}

.px {
    width: 300px;
    color: mediumpurple;
}

.pc {
    height: 9pc;
}

.ems li {
    font-size: 1.6em;
}

.rems li {
    font-size: 1.3rem;
}

.height {
    height: 6vh;
}

.boxLong {
    margin-top: -20px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 0.1em;
    color: rgb(250,100,50);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
}

.boxShort {
    margin: -20px 30px 40px 0.1em;
}

.boxAuto {
    margin: auto;
}

.paddingLong {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 0.1em;
}

.paddingShort {
    padding: 20px;
}

.boxprop {
    border-style:solid;
    border-color:#5e63b6;
    border-width: 10px;
    border-radius: 80px;
}

#displayNone {
    display: none;
}

.displayBlock {
    font-size:larger;
    display: block;
    background-color: aquamarine;
    width: 300px;
}

img {
    height: 500px;
    width: 900px;
    max-width: 800px;
    min-width: 2px;
    position: absolute;
    top: 1350px;
    left: 800px;
}

.posRel {
    position: relative;
    left: 800px;
    top: 140px;
}

button:hover {
    color:chocolate;
    background-color:aquamarine;
    height: 500px;
    width: 500px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100px;
}

.onclick:active {
    display: none;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: #7c73e6;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width: 30rem) and (orientation: landscape) {
    .changeBackground {
        background-color:#c4c1e0;
    }
}
 
* {
    color: #2d4059;
}

[title~="shapes"] {
    border: 5px solid #27296d;
    border-radius: 80px;
}

p,details {  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

form fieldset {
    border: 5px solid hsl(204, 100%, 50%);
    border-radius: 50px;
}

main > h3 {
    background-color: #cadefc;
    font-size: 45px;
}

hr + main {
    border: 5px solid #00aaa0;
    border-radius: 50px;
}

input ~ h3 {
    text-align: center;
}

div.edit {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 30px;
}